---
export interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  href={href}
  class="text-neutral-300 border bg-neutral-900 hover:bg-neutral-800 transition-colors border-neutral-500 py-1 px-3 text-center rounded-md"
>
  <slot />
</a>
