---
export interface Props {
  title: string;
  body: string;
  href: string;
  img: string;
  blog?: string;
}

const { title, body, href, blog, img } = Astro.props;
---

<a
  href={href}
  class="border border-gray-500 w-full h-32 bg-gray-600 hover:bg-gray-500 transition-colors rounded-xl flex justify-start items-center overflow-hidden p-4 gap-4"
>
  <div class="w-24 h-24 bg-gray-400 rounded-md overflow-hidden">
    {img && img != "" ? <img src={img} alt="" class="my-0" /> : <div />}
  </div>
  <div class="flex-1 h-24 flex-col grid grid-rows-4">
    <p class="text-md font-medium text-white row-span-1 truncate">
      {title}
    </p>
    <p class="text-sm text-gray-300 row-span-3">{body}</p>
  </div>
</a>
