---
import type { Tool } from "../types/tools";
export interface Props {
  tool: Tool;
}
import { Icon } from "astro-icon";
const { tool } = Astro.props;
const name: {
  [key in Tool]: {
    title: string;
    icon: string;
  };
} = {
  javascript: {
    title: "JavaScript",
    icon: "simple-icons:javascript",
  },
  bootstrap: {
    title: "Bootstrap",
    icon: "simple-icons:bootstrap",
  },
  svelte: {
    title: "Svelte",
    icon: "simple-icons:svelte",
  },
  tailwind: {
    title: "TailwindCss",
    icon: "simple-icons:tailwindcss",
  },
  nextjs: {
    title: "NextJs",
    icon: "simple-icons:nextdotjs",
  },
};
---

<div
  class="text-black flex gap-1 items-center bg-gray-100 px-2 py-0.5 rounded-md"
>
  <Icon name={name[tool].icon} height="20" />{name[tool].title}
</div>
