---
import { directive } from "@babel/types";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Thanasan Kumdee" paddingTop={true}>
  <h1 class="text-white text-3xl font-medium">Beta Task Toggler</h1>
  <p class="text-gray-300 text-lg text-center">
    Chrome extension for beta.programming.in.th
  </p>

  <div class="h-72 w-full flex mt-12 gap-2 overflow-x-scroll">
    {
      [
        "/images/beta-task-toggler/preview.png",
        "/images/beta-task-toggler/screenshot_1.jpg",
        "/images/beta-task-toggler/screenshot_2.jpg",
        "/images/beta-task-toggler/screenshot_3.jpg",
      ].map((src) => (
        <img src={src} alt="This is alt" class="rounded-lg object-contain" />
      ))
    }
  </div>
  <div class="mt-6">
    <a
      class="text-white border bg-gray-900 hover:bg-slate-700 transition-colors border-slate-600 px-2 py-1 rounded-md"
      href="https://chrome.google.com/webstore/detail/beta-task-toggler/mgicmhhkcdbopogdbphnecplndijgfbn"
      >Chrome Webstore</a
    >
  </div>
</Layout>>
