---
import { ProjectList } from "../../components/ProjectList";

import Layout from "../../layouts/Layout.astro";
---

<Layout
  description="projects by Thanasan Kumdee"
  title="Projects"
  url="projects"
  showNav={true}
  paddingX={true}
  paddingTop={true}
>
  <main class="min-h-screen flex flex-col justify-start items-center">
    <h1 class="text-4xl sm:text-5xl font-medium text-gray-100">📚 Projects</h1>
    <p class="text-md sm:text-lg text-gray-300 mt-3 mb-4">
      crafted by Thanasan Kumdee
    </p>

    <ProjectList />
  </main>
</Layout>
