---
import ButtonLink from "../components/ButtonLink.astro";
import HeadComponet from "../components/HeadComponet.astro";

export interface Props {
  title: string;
  description: string;
  paddingTop: boolean;
  paddingX?: boolean;
  url: string;
  showNav?: boolean;
  previewImgUrl?: string;
}

const {
  title,
  description,
  url,
  paddingTop,
  paddingX,
  showNav,
  previewImgUrl,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <HeadComponet
    description={description}
    title={title}
    url={url}
    previewImgUrl={previewImgUrl}
  />
  <!-- <script is:inline hoist>
    document.addEventListener("DOMContentLoaded", () => {
      const elems = document.getElementsByClassName("fade-in");
      for (let i = 0; i < elems.length; i++) {
        elems[i].style.opacity = 1;
      }
    });
    // const elems = document.getElementsByClassName("fade-in");
    // for (let i = 0; i < elems.length; i++) {
    //   elems[i].style.opacity = 1;
    // }
    // console.log("hi");
    // alert(document);
    // const elems = document.getElementsByClassName("fade-in");
    // console.log(elems);
    // document.onload = (e) => {
    //   console.log("hi");
    //   const elems = document.getElementsByClassName("fade-in");
    //   for (let i = 0; i < elems.length; i++) {
    //     elems[i].style.opacity = 1;
    //   }
    // };
    // alert(document);
  </script> -->

  <body
    class="w-screen bg-gray-900 overflow-x-hidden fade-in transition-opacity duration-500 absolute"
    style="opacity: 1"
  >
    <div
      class={`relative max-w-3xl mx-auto w-full min-h-screen flex flex-col justify-start items-center ${
        paddingX ? "px-10" : ""
      } overflow-x-hidden md:overflow-x-visible ${paddingTop ? "pt-8" : ""}`}
    >
      {
        showNav && (
          <div class="pb-4 w-full mb-4 border-b  border-gray-500 z-50">
            <ButtonLink href="/">Home</ButtonLink>
          </div>
        )
      }
      <slot />
    </div>
  </body>
</html>
